body {
    background: rgba(0, 0, 0 , 0.8);
}

.d {

    text-align: center;
    color: coral;
    font-size: 100px;
    font-weight: 600;
    font-family: monospace;
}

.h1 {
    font-size: 35px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.sx {

   font-size: 30px;
   color: rgb(255, 255, 255);
   text-align: center;
   font-weight: 200;
   line-height: 35px;
   margin-bottom: 100px;
   
}

.yh {
    color: aqua;
    font-weight: 400;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 100px;
}



p {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 35px;
    margin-bottom: 100px;
}

.imm {

    
        float: left;
        padding: 15px;
        border: 1px dotted black;
        margin: 0px 0px 15px 20px;
    
}


.im {

    float: right;
    padding: 15px;
    border: 1px dotted black;
    margin: 0px 20px 15px 15px;


}


.im1 {

    float: left;
    padding: 15px;
    border: 1px dotted black;
    margin: 0px 20px 15px 15px;


}


.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 100px;
  }
  
  .button1 {
    background-color:rgb(158, 48, 48); 
    color: black; 
    border: 2px solid #ffffff;
  }
  
  .button1:hover {
    background-color: #04AA6D;
    color: white;
  }